[Interface]
Address = {{ admin_wg_address }}
ListenPort = {{ admin_wg_port }}
PrivateKey = {{ admin_wg_private_key }}

[Peer]
PublicKey = {{ admin_wg_client_public_key }}
AllowedIPs = {{ admin_wg_client_allowed_ip }}
