[defaults]
inventory = inventory.yml
roles_path = roles
collections_path = .ansible/collections
host_key_checking = True
retry_files_enabled = False
callback_result_format = yaml
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
